<div class="container">
  <div class="room__block">
  <div class="room__info">
    <div class="room__img-block">
      <%= image_tag "#{@room.image}", class: 'room-show__img' %>
    </div>
    <div class="room-show__text">
      <p><%= @room.name %></p>
      <p><%= @room.address %></p>
      <p><%= @room.introduction %></p>
    </div>
  </div>
  <div class="room__reservation">

  </div>
  </div>
</div>
